# Large generated model artifacts (optional to exclude if repo size is a concern)
# Uncomment lines below if you don't want to commit large binary files to GitHub
# results/models/*.npy
# results/models/*.joblib
# results/models/bert_binary_best_model/

# Python
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
